.overlay{
    background: rgba(242,243,245,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: var(--white);
    width: 100%;
    max-width: 400px;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    text-align: center;
    position: relative;

    overflow: hidden;
}

.container header{
    font-size: 8.75rem;
    font-weight: 600;
    color: var(--blue);
    background: url('/icons/levelup.svg') no-repeat center;
    background-size: contain;
}

.container strong{
    font-size: 2.25rem;
    color: var(--title);
}

.container p{
    font-size: 1rem;
    color: var(--text);
    margin-top: 0.25rem;
    margin-bottom: 3.5rem;
}

.container button:nth-child(4){
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    background: transparent;
    border: 0;

    font-size: 0;
}

.container button:last-child{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 4rem;
    width: 100%;

    background-color: #F5FCFF;
    border: 0;

    color: #2AA9E0;

    transition: .2s ease;
}

.container button:last-child:hover{
    background-color: #2AA9E0;
    color: #F5FCFF;
}
.container button:last-child:focus{
    outline-color: #2AA9E0;
    outline-offset: -1px;
}


.container button:last-child:hover svg path{
    fill: #F5FCFF;
}

.container button svg {
    margin-left: 1rem;
}