.profileContainer{
    display: flex;
    align-items: center;
}

.profileContainer img{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%; 
}

.profileContainer div strong{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title)
}

.profileContainer div p{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 4px;
}

.profileContainer div p img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 0
}