section .rightSide {
    height: 100%
}


@media(max-width: 800px){
    section .leftSide{
        width: 100%;
        max-width: 400px; 
    }
    section .rightSide{
        width: 90%;
        max-width: 400px;
    }
}