.gridContainer{
    display: grid;
    grid-template-columns: 4rem auto;
}

/* Container ---------------------------------------------------------------------*/
.container{
    display: flex;
    flex-direction: column;

    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem 2.5rem 3rem;
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-items: center;

    padding: 3.5rem 0;
}

.container section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media(max-width: 1200px){
    .container section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media(max-width: 800px){
    .container{
        width: 100%
    }
    .container section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}